


.editor-block-list__block,
.editor-block-list__block p {background-color:#ffffff; color:#666666; font-size:15px;}
.editor-block-list__block h1,
.editor-block-list__block h2,
.editor-block-list__block h3,
.editor-block-list__block h4,
.editor-block-list__block h5,
.editor-block-list__block h6 {color:#222222;}
.editor-post-title__block textarea {color:#ffffff; background-color:#109bc5;}
.editor-block-list__block a,
.editor-block-list__block strong,
.editor-block-list__block b,
.editor-block-list__block b a,
.editor-block-list__block strong a {color:#109bc5;}
.editor-block-list__block,
.wc-block-all-reviews div,
.wc-block-reviews-by-category div,
.wc-block-featured-product__wrapper,
.wc-block-grid ul,
.wc-block-product-categories ul,
.wc-block-product-categories div {font-family:'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;}
.wc-block-grid .wc-block-grid__product-title,
.wc-block-grid .wc-block-grid__product-price {color: #109bc5;}
.wc-block-grid .wc-block-grid__product-price del {color: #919191;}
.wc-block-grid .wp-block-button a,
.wc-block-featured-product__wrapper .wp-block-button .wp-block-button__link,
.wc-block-featured-category__wrapper .wp-block-button .wp-block-button__link,
.wc-block-load-more .wp-block-button__link {background-color: #109bc5; color: #ffffff; border-color: #0079a3;}
.wc-block-featured-product__wrapper .wp-block-button.is-style-outline .wp-block-button__link,
.wc-block-featured-category__wrapper .wp-block-button.is-style-outline .wp-block-button__link {background-color: transparent;}
.wc-block-grid .wp-block-button a:hover,
.wc-block-featured-product__wrapper .wp-block-button .wp-block-button__link:hover,
.wc-block-featured-category__wrapper .wp-block-button .wp-block-button__link:hover,
.wc-block-load-more .wp-block-button__link:hover {background-color: #88bbc8; color: #ffffff; border-color: #6699a6;}
