/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

div#titulo-ModC h6{
	font-weight: bold!important;
	font-family: 'roboto'!important;
}

footer.container_wrap div.container{
	justify-content: center!important;
}

body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background-color: rgba(93, 109, 126, 0.1);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #5F6061; 
  border-radius: 10px;
} 
html, #av-cookie-consent-badge {
	background-color: white!important;
}
h2.woocommerce-loop-product__title{
	text-shadow: 3px 3px 1px #283747!important;
	color: white;
	font-size: 28px!important;
    background-color: rgba(48, 72, 107,0.6);
}
span.price{
	background-color: rgba(48, 72, 107,0.6);
}
div.titulo-baners h6{
	font-weight: bold!important;
	font-family: 'roboto'!important;
}
div.avia-menu ul li#menu-item-search{
	display:none!important;
}
#top .thumbnail_container img{

	height: 360px!important;
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}